.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: 'roboto', sans-serif;
  text-transform: uppercase;
  background-color: var(--Orange);
  :hover {
    background-color: var(--Yellow);
    * {
      color: var(--Black);
    }
  }
}

.navLink {
  font-size: 28px;
  line-height: 30px;
  padding: 0.2rem 1rem;
  background: none;
  width: auto;
  color: var(--Yellow);
}

.wrapper {
  position: relative;
}

.dropdown {
  position: absolute;
  background-color: var(--Yellow);
  top: 3.2rem;
  width: 100%;
}
